/* .source-sans-3-<uniquifier > {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
}
/* body {
  background-color: #071629;
} */
nav {
  display: flex;
  gap: 702px;
  align-items: center;
  justify-content: center;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 52px;
  font-size: 12px;
}
.nav-link:link,
.nav-link:visited {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}
.main-background {
  background-image: linear-gradient(rgba(7, 22, 41, 0.2), rgba(7, 22, 41, 0.2)),
    url(images/Object.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 24px;
}

.hero-section {
  text-align: center;
}
h1 {
  font-size: 120px;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: -16px;
}

.three-words {
  display: flex;
  gap: 50px;
  align-content: center;
  justify-content: center;
  margin-bottom: 64px;
}
.hero-section-btn {
  background-color: #c271ff;
  color: #ffffff;
  border-radius: 22px;
  width: 162px;
  height: 44px;
  border: none;
  margin-bottom: 212px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.5));
}
.hero-section-btn:hover {
  filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.123));
}
h2 {
  margin-bottom: 90px;
  font-size: 32px;
}
.learn-word {
  color: #c271ff;
}
.pros {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 137px;
  padding-bottom: 90px;
}

.pro {
  width: 150px;
}
.pros img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 12px;
}

h3 {
  line-height: 27px;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 12px;
}

.pro-paragraph {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  font-weight: 400;
}

/* Testemonials  */

.testemonials-section {
  display: flex;
  height: 160px;
  align-items: center;
  justify-content: center;

  background-color: #c271ff;
  padding-top: 108px;
  padding-bottom: 124px;

  gap: 53px;
}

.testemonial-quote {
  color: #ffffff;
  font-size: 22px;
  width: 943px;
  height: 160px;
}

.testemonial-quote blockquote {
  margin-bottom: 22px;
}

.testemonial-quote h3 {
  margin-bottom: 0;
}

/* Tutorials */

.tutorials-section {
  height: 450px;
  margin-top: 87px;
  display: grid;
  grid-template-rows: 0.5fr 3fr;
  align-items: center;
  justify-content: center;
}

.tutorials-heading {
  margin-bottom: 75px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}
.tutorials-section span {
  color: #c271ff;
  font-weight: bold;
}

.tutotial-cards {
  width: 1228px;
  display: flex;
  gap: 31px;
  padding: 0 58px;
}

.tutotial-card {
  width: 255px;
  height: 335px;
}
.card-image {
  position: relative;
}
.play-btn {
  position: absolute;

  transform: translate(-250%, 80%);
}
.tutorial-title {
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 7.5px;
}

.tutorial-paragraph {
  font-size: 14px;
  color: rgba(7, 22, 41, 0.516);
  margin-bottom: 13.5px;
}
.tutorial-author {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 14px;
}
.tutorial-author h4 {
  margin-bottom: 0;
}
.author-img {
  width: 30px;
  height: 30px;
}

.tutorial-author h4 {
  font-size: 14px;
  color: #c271ff;
}
.rating {
  color: #c271ff;
  font-size: 14px;
  display: flex;
  gap: 79px;
}

.rating img {
  width: 107px;
  height: 15px;
}
