/* .source-sans-3-<uniquifier > {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  font-family: "Source Sans 3", sans-serif;
}
/* body {
  background-color: #071629;
} */
nav {
  display: flex;
  gap: 702px;
  align-items: center;
  justify-content: center;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 52px;
  font-size: 12px;
}
.nav-link:link,
.nav-link:visited {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}
.main-background {
  background-image: linear-gradient(rgba(7, 22, 41, 0.2), rgba(7, 22, 41, 0.2)),
    url(images/Object.png);
  background-repeat: no-repeat;
  background-color: #071629;
  background-size: cover;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.hero-section {
  text-align: center;
}
h1 {
  font-size: 120px;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 23px;
}

.three-words {
  display: flex;
  gap: 50px;
  align-content: center;
  justify-content: center;
  margin-bottom: 46px;
}
.hero-section-btn {
  background-color: #c271ff;
  color: #ffffff;
  border-radius: 22px;
  width: 162px;
  height: 44px;
  border: none;
  margin-bottom: 212px;
}
h2 {
  margin-bottom: 90px;
  font-size: 32px;
}
.learn-word {
  color: #c271ff;
}
.pros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 137px;
  margin-bottom: 90px;
}

.pros img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
